{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": ["./tsconfig.json"]
  },
  "extends": [
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:github/recommended",
    "plugin:prettier/recommended"
  ],
  "plugins": ["@typescript-eslint", "node", "jest"],
  "rules": {
    "i18n-text/no-en": "off",
    "import/no-namespace": "off",
    "no-unused-vars": "off",
    "camelcase": "off",
    "no-shadow": "off",
    "no-console": "off",
    "prefer-template": "off"
  },
  "env": {
    "node": true,
    "es2022": true,
    "jest/globals": true
  }
}
